.env
.env.*
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
AGENTS.md
CONTRIBUTING.md
dist/**
mise.toml
node_modules/**
out/test/**
pnpm-lock.yaml
pnpm-workspace.yaml
src/**
vsc-extension-quickstart.md
