**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
node_modules/**
out/test/**
dist/**
src/**
vsc-extension-quickstart.md
mise.toml
pnpm-lock.yaml
pnpm-workspace.yaml
CONTRIBUTING.md
AGENTS.md
